<div class="nested-fields">
  <%= f.input :name %>
  <%= f.input :code %>
  <%= f.input :_destroy, as: :hidden, input_html: { class: 'remove-subject' } %>
  <%= link_to_remove_association "Remove", f, class: "btn btn-outline-danger btn-sm float-end", wrapper_class: "nested-fields" %>
</div>
<script>
  $(document).ready(function() {
    // Attach a click event handler to elements with the class "remove-subject"
    $('.remove-subject').click(function(e) {
      e.preventDefault(); // Prevent the default link behavior

      // Find the parent nested-fields container and remove it
      $(this).closest('.nested-fields').remove();
    });

    $('#subjects').cocoon();
  });
</script>
